*{
margin:0px;
padding:0px;
}
html, body{
width:100%;
height:100%;
background-color:#3f3c3c;
box-sizing:border-box;
}
*,
*::after,
*::before{
box-sizing:inherit;
}
a{
text-decoration: none;
}
#Header{
max-width:1920px;
min-width:1900px;
height:350px;
margin:auto;
}
.LogoBlock{
width:14%;
height:60%;
margin-left:8%;
margin-top:50px;
float:left;
}
.Logotip{
width:100%;
height:60%;
background-repeat:no-repeat;
}
#poloska1{
width:55%;
height:23%;
float:left;
margin-top:50px;
margin-left:50px;
}
.menutext1{
color:white;
font-size:15px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-weight:bold;
margin-top:2.8%;
margin-left:2%;
float:left;
}
.menutext2{
color:white;
font-size:15px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-weight:bold;
margin-top:2.8%;
margin-left:2%;
float:left;
 }
 .menutext3{
color:white;
font-size:15px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-weight:bold;
margin-top:2.8%;
margin-left:1%;
float:left;
}
#phonepic{
max-width:4.6%;
margin-top:1%;
background-repeat:no-repeat;
height:auto;
float:left;
}
#locationpic{
max-width:4.5%;
margin-top:1%;
margin-left:1%;
background-repeat:no-repeat;
height:auto;
float:left;
}
#mailpic{
max-width:4.5%;
margin-left:2.7%;
margin-top:1.2%;
background-repeat:no-repeat;
height:auto;
float:left;
}
#clockpic{
max-width:4.4%;
margin-left:2.7%;
margin-top:1.2%;
background-repeat:no-repeat;
height:auto;
float:left;
}
#facebookpic{
max-width:4.4%;
margin-top:1.2%;
margin-left:2%;
height:auto;
background-repeat:no-repeat;
float:left;
}
#poloska2{
width:55%;
height:1%;
margin-left:50px;
background-color:#4f4d49;
float:left;
}
#poloska3{
width:55%;
height:20%;
top:0;
position:sticky;
margin-left:50px;
float:left;
}
.menutext4{
color:white;
font-size:150%;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
float:left;
margin-left:6.5%;
margin-top:2%;
}
#languages{
width:20%;
height:100%;
float:right;
}
.menutext5{
color:white;
font-size:150%;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
float:right;
margin-left:6.5%;
margin-top:9.5%;
}
#pictureblock{
max-width:1920px;
min-width:1900px;
height:500px;
background-color:#ff6633;
margin:auto;
}
#pictureblock_img{
width:50%;
height:90%;
background-repeat:no-repeat;
margin-top:1.5%;
margin-left:25%;
}
#Title_block{
max-width:1920px;
min-width:1900px;
height:170px;
margin:auto;
}
.title{
color:white;
font-size:400%;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-align: center;
margin-top:6%;
}
#Title_info_main{
    max-width:1920px;
    min-width:1900px;
    margin:auto;
    height:400px;
}
#Title_info{
max-width:950px;
height:400px;
background-color:#ff6633 ;
margin:auto;
}
.text{
color:white;
font-size:360%;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
margin-top:5%;
margin-left:11%;
}
.spacebetween{
max-width:1920px;
height:300px;
margin:auto;
}
#menublock_main{
    max-width:1920px;
    min-width:1900px;
    margin:auto;
    height:500px;
}
#menublock{
max-width:950px;
height:500px;
margin:auto;
}
#menublocks_title1{
width:47%;
height:19%;
background-color: #ff3300;
float:left;
}
#menublocks_title2{
width:47%;
height:19%;
background-color: #ff3300;
margin-left:6%;
float:left;
}
#menublocks1{
width:47%;
height:81%;
background-color:#ff6633;
float:left;
}
#menublocks2{
width:47%;
height:81%;
background-color:#ff6633 ;
float:left;
margin-left:6%;
}
.newofftertitle{
color:white;
font-size:300%;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-align: center;
margin-top:2%;
}
#solanka_img{
max-width:76%;
background-repeat:no-repeat;
margin-left:12%;
margin-top:3%;
height:auto;
}
#location_img{
max-width:100%;
height:100%;
background-repeat:no-repeat;
}
#podval{
max-width:1920px;
min-width:1900px;
height:350px;
background-color: #ff6633;
margin:auto;
}
.podvalblocks{
width:30%;
height:80%;
margin-top:50px;
margin-left:5%;
float:left;
}
.podvaltext1{
color:white;
font-size:250%;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
margin-top:1%;
}
.podvaltext2{
color:white;
font-size:250%;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
margin-top:2%;
}







